{% extends "base.html" %}

{% block content %}
<h1 class="title">ABOUT MEDISMART SOLUTIONS</h1>

<h2 style="font-size: 20px; font-weight: 500; ">ABOUT MEDISMART SOLUTIONS</h2>
<br/>
<div class="row">
  <div class="column">
    <div class="card">
        <h3><strong>MISSION STATEMENT</strong></h3>
      <p>
          Our mission is to provide equal, efficient and affordable healthcare to individuals and communities in South Africa
          through the effective use of artificial intelligence and data sciences
      </p>
    </div>
  </div>
    <div class="column">
    <div class="card">
        <h3><strong>VISION STATEMENT</strong></h3>
      <p>
          Our vision is to accelerate the adoption of artificial intelligence and data sciences in healthcare
          throughout communities in South Africa to improve diagnosis of patients.
      </p>
    </div>
  </div>
</div>
<br/>
<div class="row">

</div>
<br/>
<!--
ADD IN PICTURES
-->
<br/>
<!--
OUR STORY
-->
<h2 class="subtitle">
    OUR STORY
</h2>
<div class="row">
    <div class="columnStory">
        <div class="card">
            bla bla bla
        </div>
    </div>
</div>
<br/>
<!--
ADD IN PROFILES
-->
<h2 class="subtitle">
    MEET THE TEAM
</h2>
<div class="row">
  <div class="Column">
    <div class="card">
        <h3><strong>Shaheen Solwa</strong></h3>
        <p><i>MSc. Electronic Engineering (AI)</i></p>
        <p><strong>CEO and Director</strong></p>
      <p>
          Since graduating with a Masters degree in Electronic Engineering, Shaheen spent most of his time working on
          improving his skillset as a software developer in multiple areas of expertise. After extensive market research,
          Shaheen had made the decision to build MEDISMART, a healthcare startup that provides solutions for many
          medical related fields.
          <br/>
          In his free time, Shaheen enjoys the occasional physical sport games, develop software solutions, anime and
          hollywood and bollywood cinema.
      </p>
    </div>
  </div>
    <div class="ColumnPic">
    <div class="card">
        <img src="static/imgs/WIN_20200819_10_21_27_Pro.jpg" style="width:500px;height:232px;">
    </div>
  </div>
</div>
<br/>
{% endblock %}