{% extends "base.html" %}

{% block content %}
<h1 class="title">
    MEDISMART PREDICTION TOOLS
</h1>
<h2 class="subtitle">
    <br/>
    Please choose the AI medical tool to be used:
</h2>

<button style="background-color: #e7e7e7; padding: 18px 16px;">CARIOLOGY</button>
<button style="background-color: #e7e7e7; padding: 18px 16px;">NEUROLOGY</button>
<button style="background-color: #e7e7e7; padding: 18px 16px;">OPTOMETRY</button>
<button style="background-color: #e7e7e7; padding: 18px 16px;">DENTISTRY</button>


{% endblock %}
