{% extends "base.html" %}


{% block content %}
<h1 class="title">
    MEDISMART PRICING STANDARDS
</h1>
<h2 class="subtitle">
    Please browse our pricing catalogue for services provided:
</h2>

<h3 style="font-family: Lucida Console, Monaco, monospace">
    MORE PRICING OPTIONS ARE ON THE WAY!
</h3>
<br/>

<!--
ADD PRICING CARDS WITH PRICES OF DIFFERENT CATEGORIES
-->
<div class="row">
  <div class="column">
    <div class="card">
        <h3><strong>Standard Costing</strong></h3>
      <p>Standard costing is based on a result per image.</p>
      <p>Quick and easy results at the touch of a few buttons</p>
      <p>Price: $1.00</p>
    </div>
  </div>
</div>

{% endblock %}